<!doctype html>
<html lang="pt-BR">
  <head>
    <title><%= config.title %></title>
    <!-- Required meta tags -->
    <link href="./favicon.png" rel="shortcut icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <% if(config.css_file !== null)  { %> <link rel="stylesheet" href="./css/<%= config.css_file %>"> <% } %>
  </head>
  <body class="<%= config.page_class %>"></body>